@{
    ViewData["Title"] = "Получить";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post">
    <label>Введите первый параметр:</label><br />
    <input type="text" name="alpha" /><br /><br />
    <label>Введите второй параметр:</label><br />
    <input type="text" name="beta" /><br /><br />
    <label>Введите третий параметр:</label><br />
    <input type="text" name="gamma" /><br /><br />
    <input type="submit" value="Получить" />
</form>
