
@{
    ViewData["Title"] = "HaveNoImage";
}

<h2>Фрактал с такими параметрами ещё никто не считал</h2>
<img src="https://cs5.pikabu.ru/images/previews_comm/2015-10_4/14450083061437222.jpg" alt="Sample Photo" />


